nav{
    max-height: fit-content;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}
nav>div{
    text-align: center;
    color: white;
    font-size: 24px;
    border: 1px orange solid;
    vertical-align: middle;
    padding: 40px;
}
a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
div:hover{
    background-color: blue;
}